## Import Libraries

In [121]:
import pandas as pd

In [122]:
data = pd.read_csv('Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.csv')
data.head()

,Timestamp,Age Group,Industry,Job title,job context,annual salary,Bonus,currency,country,U.S State,City name,total professional work experience,professional work experience in field,highest level of education,gender,What is your race? (Choose all that apply.)
0,4/27/2021 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [123]:
data.describe(include='all')

,Timestamp,Age Group,Industry,Job title,job context,annual salary,Bonus,currency,country,U.S State,City name,total professional work experience,professional work experience in field,highest level of education,gender,What is your race? (Choose all that apply.)
count,28042,28042,27968,28041,7259,28042,2.075500e+04,28042,28042,23028,27964,28042,28042,27823,27872,27867
unique,8185,7,1219,14336,6996,4303,NaN,11,375,133,4822,8,8,6,5,49
top,4/27/2021 11:14,25-34,Computing or Tech,Software Engineer,Fundraising,"60,000",NaN,USD,United States,California,Boston,11 - 20 years,11 - 20 years,College degree,Woman,White
freq,82,12646,4692,286,20,430,NaN,23362,8990,2610,772,9619,6533,13513,21359,23207
mean,NaN,NaN,NaN,NaN,NaN,NaN,1.816943e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,8.342741e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,1.200000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Check for missing values

In [124]:
data.isna().sum()

Timestamp                                          0
Age Group                                          0
Industry                                          74
Job title                                          1
job context                                    20783
annual salary                                      0
Bonus                                           7287
currency                                           0
country                                            0
U.S State                                       5014
City name                                         78
total professional work experience                 0
professional work experience in field              0
highest level of education                       219
gender                                           170
What is your race? (Choose all that apply.)      175
dtype: int64

# Check the types

In [125]:
data.dtypes

Timestamp                                       object
Age Group                                       object
Industry                                        object
Job title                                       object
job context                                     object
annual salary                                   object
Bonus                                          float64
currency                                        object
country                                         object
U.S State                                       object
City name                                       object
total professional work experience              object
professional work experience in field           object
highest level of education                      object
gender                                          object
What is your race? (Choose all that apply.)     object
dtype: object

### Converted the TimeStamp column to be in a standard format

In [126]:
data["Timestamp"] = pd.to_datetime(data.Timestamp , format='%m/%d/%Y %H:%M')

### Drop columns with a significant amount of missing values and columns that are not needed

In [127]:
data = data.drop(columns=['Bonus', 'U.S State', 'job context'])

### Fill missing values for categorical data with 'Unknown'

In [128]:
data['Industry'] = data['Industry'].fillna('Unknown')
data['Job title'] = data['Job title'].fillna('Unknown')
data['City name'] = data['City name'].fillna('Unknown')
data['highest level of education'] = data['highest level of education'].fillna('Unknown')
data['gender'] = data['gender'].fillna('Unknown')
data['What is your race? (Choose all that apply.)'] = data['What is your race? (Choose all that apply.)'].fillna('Unknown')

### Convert the categorical data to numerical data

In [129]:
data['annual salary'] = data['annual salary'].str.replace(',', '').astype(float)

### Convert the object data to categorical data

In [130]:
categorical_columns = ['Age Group', 'Industry', 'Job title', 'currency', 'country', 'City name', 'highest level of education', 'gender', 'What is your race? (Choose all that apply.)']
for col in categorical_columns:
    data[col] = data[col].astype('category')

In [131]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28042 entries, 0 to 28041
Data columns (total 13 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Timestamp                                    28042 non-null  datetime64[ns]
 1   Age Group                                    28042 non-null  category
 2   Industry                                     28042 non-null  category
 3   Job title                                    28042 non-null  category
 4   annual salary                                28042 non-null  float64
 5   currency                                     28042 non-null  category
 6   country                                      28042 non-null  category
 7   City name                                    28042 non-null  category
 8   total professional work experience           28042 non-null  object
 9   professional work experience in field        28042 non-null  object
 10  highest level of education                   28042 non-null  category
 11  gender                                       28042 non-null  category
 12  What is your race? (Choose all that apply.)  28042 non-null  category
dtypes: category(9), datetime64[ns](1), float64(1), object(2)
memory usage: 2.0+ MB

## Top woking age Group

In [132]:
#unique categories for product
print(data["Age Group"].unique())
print("Total number of age groups:- ", data["Age Group"].nunique())

['25-34', '45-54', '35-44', '18-24', '65 or over', '55-64', 'under 18']
Categories (7, object): ['18-24', '25-34', '35-44', '45-54', '55-64', '65 or over', 'under 18']
Total number of age groups:-  7

In [133]:
age_group = data["Age Group"].value_counts()
print("Top 3 woking age Group:")
for category, count in age_group.head(3).items():
    print(f"{category}: {count}")

Top 3 woking age Group:
25-34: 12646
35-44: 9895
45-54: 3188

## What is the most common industry and job title

In [134]:
top_industries = data['Industry'].value_counts().head(3)
top_job_titles = data['Job title'].value_counts().head(3)

print("Top 3 Most Common Industries:")
print(top_industries)

print("\nTop 3 Most Common Job Titles:")
print(top_job_titles)

Top 3 Most Common Industries:
Computing or Tech               4692
Education (Higher Education)    2463
Nonprofits                      2418
Name: Industry, dtype: int64

Top 3 Most Common Job Titles:
Software Engineer    286
Project Manager      230
Director             198
Name: Job title, dtype: int64

## top highest salary in USD

In [135]:
top_salaries = data[data['currency'] == 'USD'].nlargest(3, 'annual salary')
top_salaries_usd = top_salaries['annual salary']

print("\nTop 3 Highest Salaries in USD:")
print("index | annual salary")
print(top_salaries_usd)

Top 3 Highest Salaries in USD:
index | annual salary
3605     102000000.0
28021     10000000.0
26466      5000044.0
Name: annual salary, dtype: float64

## Which industry has the highest average annual salary?

In [136]:
industry_avg_salary = data.groupby('Industry')['annual salary'].mean()
highest_avg_salary_industry = industry_avg_salary.idxmax()
print(f"The industry with the highest average annual salary is: {highest_avg_salary_industry}")

The industry with the highest average annual salary is: ESL Teacher

### What is the distribution of salaries across different age groups?

In [137]:
age_group_salary_distribution = data.groupby('Age Group')['annual salary'].describe()
print("The distribution of salaries across different age groups is:")
print(age_group_salary_distribution)

The distribution of salaries across different age groups is:
              count           mean           std      min      25%      50%  \
Age Group
18-24        1213.0   66987.226711  2.897979e+05      0.0  35360.0  50000.0
25-34       12646.0  117637.691760  1.878065e+06      0.0  50500.0  70000.0
35-44        9895.0  125156.741890  1.391719e+06      0.0  60000.0  85000.0
45-54        3188.0  106381.834693  1.721370e+05      0.0  62000.0  88000.0
55-64         992.0  984084.531250  2.761987e+07     40.0  57000.0  83000.0
65 or over     94.0   94559.851064  5.439464e+04  13000.0  53500.0  91250.0
under 18       14.0  412390.571429  1.321731e+06      0.0  29640.0  37160.0

                 75%          max
Age Group
18-24        70000.0   10000000.0
25-34        98000.0  180000000.0
35-44       120000.0  120000000.0
45-54       125000.0    8640000.0
55-64       120000.0  870000000.0
65 or over  120000.0     364000.0
under 18    104550.0    5000000.0

## How does the level of education impact the annual salary?

In [138]:
education_salary_impact = data.groupby('highest level of education')['annual salary'].mean()
print("The impact of the level of education on the annual salary is:")
print(education_salary_impact)

The impact of the level of education on the annual salary is:
highest level of education
College degree                        170142.487235
High School                            84643.439750
Master's degree                       106106.792052
PhD                                   241019.886396
Professional degree (MD, JD, etc.)    156049.852608
Some college                          127630.617248
Unknown                               139965.735160
Name: annual salary, dtype: float64

## differences in salary between genders

In [139]:
gender_salary_difference = data.groupby('gender')['annual salary'].mean()
print("The salary differences between genders are:")
print(gender_salary_difference)

The salary differences between genders are:
gender
Man                              203142.735283
Non-binary                       100025.489933
Other or prefer not to answer    232572.518519
Prefer not to answer              88000.000000
Unknown                          102079.505882
Woman                            134141.188679
Name: annual salary, dtype: float64